{% extends '::base.html.twig' %}
{% block title %}Flickr - Recently added{% endblock %}
{% block body %}
    <div class="row">
        {% if flickr['photos'] is defined %}
            <h4>Random selection of Flickr recent additions</h4>
             <div class="clearfix" style="padding:1em;"></div>
             <div><strong>Total Photos returned:</strong> <span class="badge">{{flickr['photos']['total']}}</span></div>
            <div>
                {% for photo in flickr['photos']['photo'] %}
                    <div class="col-xs-6 col-md-3" style="padding: 1em;">
                        <a href="https://www.flickr.com/photos/{{photo["owner"]}}/{{photo["id"]}}" class="thumbnail" target="_blank">
                            <img class="img-thumbnail img-center" src="http://farm{{ photo["farm"] }}.static.flickr.com/{{ photo["server"] }}/{{ photo["id"] }}_{{ photo["secret"]}}_m.jpg/sizes/m/" media="photo" alt="{{ photo['title']}}">
                        </a>
                    </div>
                {% endfor %}
        {% else %}
            <div class="alert alert-box">No results received from Flickr!</div>
        {% endif %}
    </div>
{% endblock %}
