<!DOCTYPE html>
<html lang="en">
<head>
    <title>.:: Reffind Flickr Gallery ::.</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link href="css/carousel.css" rel="stylesheet">
    <link href="css/global.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>
<body cz-shortcut-listen="true">
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Reffind Flickr Gallery</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--<a class="navbar-brand active">Wop-Hits <span class="glyphicon glyphicon-equalizer"></span></a>-->
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!--<li class="active"><a href="/">Home <span class="glyphicon glyphicon-home"></span></a></li>-->
                    <li class="active"><a href="/">Reffind Flickr Gallery <span class="glyphicon glyphicon-equalizer"></span></a></li>
                </ul>
                <div id="navbar" class="navbar-collapse collapse">
                    <form class="navbar-form navbar-right" method="post" action="{{ path('flickr_api_search') }}">
                        <div class="form-group">
                            <input type="text" placeholder="Search by term" id="keyword" name="keyword" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-success">Search <span class="glyphicon glyphicon-search"></span></button>
                    </form>
                </div><!--/.navbar-collapse -->
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        {% if flickr['photos'] is defined %}
            <div>
                Page: <span class="badge">{{flickr['photos']['page']}} out of <span class="badge">{{flickr['photos']['pages']}}</span>
            </div>
            <div>Total Photos: <span class="badge">{{flickr['photos']['total']}}</span></div>
            <div>
                {% if keyword is defined %} 
                    <span class="label label-primary"> Showing results for: {{ keyword }}</span> {% endif %}</div>
            {% for photo in flickr['photos']['photo'] %}
                {% dump(photo["id"]) %}
                {# the image URL becomes somthing like #}
                {# http://farm{farm-id}.static.flickr.com/{server-id}/{id}_{secret}.jpg #} 
                <div class="col-md-4" style="padding: 1em;">
                        <a href="https://www.flickr.com/photos/{{photo["owner"]}}/{{photo["id"]}}" target="_blank">
                            <img class="img-responsive img-center" src="http://farm{{ photo["farm"] }}.static.flickr.com/{{ photo["server"] }}/{{ photo["id"] }}_{{ photo["secret"]}}_m.jpg/sizes/m/" media="photo" alt="{{ photo['title']}}">
                        </a>
                </div>
            {% endfor %}
            {% if keyword is defined %}
                <div class="bs-example" data-example-id="simple-pager">
                    <nav aria-label="..."> 
                        <ul class="pager"> <li>
                            <a href="#">Previous</a></li> 
                            <li><a href="{{ path('flickr_api_search') }}">Next</a></li>
                        </ul>
                    </nav>
                </div>
            {% endif %}
        {% else %}
            {# users is probably a string #}
            Hello there!
        {% endif %}
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>